/*レイアウト*/
.inner{
  width:85%;
  margin: 0 auto;
}

.flex-box{
  display:flex;
  width:100%;
  justify-content: center;

}

/*各ページのタイトル装飾*/
.page-title{

}


/*二重線で囲まれるデザインとアニメーション*/
/*========================================*/
.double-line-surround {
    display: inline-block;
    position: relative;
    margin:10px;
    padding:0.3em;
    z-index:10;
  }
  
  .double-line-surround::before,
  .double-line-surround::after {
    position: absolute;
    content: '';
    display: none;
    z-index:-1;
  }
  
  .double-line-surround::before {
    border-top: 3px double #2e2e2e;
    border-left: 3px double #2e2e2e;
    top: -5%;
    left: -5%;
  }
  
  .double-line-surround::after {
    transform: scale(1, -1);
    bottom: -5%;
    right: -5%;
    border-top: 3px double #2e2e2e;
    border-right: 3px double #2e2e2e;
  }
  
  @keyframes surround_anim {
    0% {
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      width: 115%;
      height: 120%;
      opacity: 1;
    }
  }
/*========================================*/