h1.double-line-title {
  display: inline-block;
  position: relative;
  margin:10px;
}

h1.double-line-title::before, h1.double-line-title::after {
  position: absolute;
  content: '';
  animation: surround_title_anim 1s linear 0s 1 alternate;
  width: 115%;
  height: 120%;
  opacity: 1;
}

h1.double-line-title::before {
  border-top: 3px double #2e2e2e;
  border-left: 3px double #2e2e2e;
  top: -5%;
  left: -5%;
}

h1.double-line-title::after {
  transform: scale(1, -1);
  bottom: -5%;
  right: -5%;
  border-top: 3px double #2e2e2e;
  border-right: 3px double #2e2e2e;
}

@keyframes surround_title_anim {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 115%;
    height: 120%;
    opacity: 1;
  }
}